@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Vazir', ui-sans-serif, system-ui, sans-serif;
}

:root {
    --school-green: #123f32;
    --school-gold: #f2c94c;
    --school-white: #fffdf7;
}

html {
    scroll-behavior: smooth;
}
